*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    max-width: 2000px;
    min-width: 300;
    margin: 0 auto;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li{
    list-style: none;
}